.container {
  margin-top: 1.5em;
}

.node {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
}

.segment {
  grid-column-start: 4;
  grid-column-end: 11;
}

.ui.message {
  grid-row-start: 2;
  grid-column-start: 4;
  grid-column-end: 11;
}

.ui.success.message {
  text-align: center;
}

.ui.form {
  margin-top: 2rem;
  grid-column-start: 5;
  grid-column-end: 9;
}

.ui.divider {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 2rem;
}

#MineOrResolve {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  justify-content: space-between;
}
