.container {
  margin-top: 1.5em;
}

.node {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
}

.segment {
  grid-column-start: 4;
  grid-column-end: 11;
}

.ui.padded.segment {
  margin-top: 4rem;
}

.ui.error.message,
.ui.success.message {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  grid-row-start: 1;
  grid-column-start: 5;
  grid-column-end: 9;
}

.ui.form {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-column-end: 9;
}

.ui.divider {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 2rem;
}

#MineOrResolve {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

#mineFailure,
#mineSuccess {
  grid-row-start: 5;
}

@media only screen and (max-width: 700px) {
  .segment,
  .ui.form,
  #txError,
  #txSuccess,
  #mineFailure,
  #mineSuccess {
    grid-column-start: 3;
    grid-column-end: 11;
  }
}

.accordion {
  margin-top: 1.5rem;
  grid-row-start: 7;
  grid-column-start: 3;
  grid-column-end: 11;
}

.content.active {
  overflow: hidden;
}
